body {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
}

.nome {
  color: #d61355;
}

.mainLadingPage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apresentacao {
  display: flex;
  margin: 2% 2% 2% 2%;
  text-align: center;
}

.apresentacao h1 {
  display: flex;
  margin: 2% 2% 2% 2%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

img {
  display: flex;
  margin: 2% 2% 2% 2%;
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.saudacao {
  background-color: #d61355;
  border: #d61355;
}

.botao1 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #d61355;
  border: #d61355;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-top: 5%;
  text-decoration: none;
  text-align: justify;
  font-weight: normal;
}

/*
.botao2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #d61355;
  border: #d61355;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-top: 5%;
}

.botao3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #d61355;
  border: #d61355;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-top: 5%;
}
*/
