* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 20px verdana, arial, tahoma, sans-serif;
}

body,
html {
  background-image: url(../assets/LadingPage.jpg);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header,
footer {
  display: flex;
  flex-direction: row;
  border-top: 4vh solid #e7ab9a;
  border-bottom: 4vh solid #460c68;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 50px;
}

#desktop1,
#desktop2 {
  display: none;
}

.ladingPage {
  display: flex;
  flex-direction: column;
  margin: 2% 5% 5.5% 5%;
}

.selfPresentation,
.selfPresentationContent {
  display: flex;
  flex-direction: column;
  color: #810ca8;
  text-align: center;
}

.photo {
  margin: 5% 25% 5% 25%;
  border-radius: 100%;
  border: 5px solid #460c68;
  width: 50%;
  height: 50%;
}

.containerIconsMobile,
.containerIconsDesktop {
  width: 195px;
  height: auto;
  position: absolute;
  top: 5%;
  right: -150px;
}

.containerIconsMobile img {
  width: 28px;
  height: auto;
}

.containerIconsMobile ul {
  list-style: none;
}

.containerIconsMobile ul li {
  display: block;
  padding: 10px;
  height: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

.containerIconsMobile ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.containerIconsMobile ul li:nth-child(1) {
  background: #ff5c58;
}

.containerIconsMobile ul li:nth-child(2) {
  background: black;
}

.containerIconsMobile ul li:nth-child(3) {
  background: #0f6292;
}

.containerIconsMobile ul li:nth-child(4) {
  background: #379956;
}

.containerIconsMobile ul li span {
  position: relative;
  top: 0;
  bottom: 0;
  display: block;
  right: 18px;
  padding: 70px;
}

/*CSS-desktop*/
@media screen and (min-width: 768px) {
  .ladingPage {
    flex-direction: row;
    align-items: center;
  }

  #mobile1,
  #mobile2 {
    display: none;
  }

  #desktop1,
  #desktop2 {
    display: flex;
  }

  .containerIconsDesktop {
    width: 195px;
    height: auto;
    position: absolute;
    top: 56px;
    right: -150px;
  }

  .containerIconsDesktop img {
    width: 28px;
    height: auto;
  }

  .containerIconsDesktop ul {
    list-style: none;
  }

  .containerIconsDesktop ul li {
    display: block;
    padding: 10px;
    height: 50px;
    position: relative;
    transition: all 0.5s ease;
  }

  .containerIconsDesktop ul li a {
    display: block;
    color: white;
    text-decoration: none;
  }

  .containerIconsDesktop ul li:nth-child(1) {
    background: #ff5c58;
  }

  .containerIconsDesktop ul li:nth-child(2) {
    background: black;
  }

  .containerIconsDesktop ul li:nth-child(3) {
    background: #0f6292;
  }

  .containerIconsDesktop ul li:nth-child(4) {
    background: #379956;
  }

  .containerIconsDesktop ul li span {
    position: relative;
    top: 0;
    bottom: 0;
    display: block;
    right: 18px;
    padding: 70px;
  }

  .containerIconsDesktop ul li:hover {
    cursor: pointer;
    background-image: linear-gradient(
      -225deg,
      #ff3cac 0%,
      #562b7c 52%,
      #2b86c5 100%
    );
    transform: translateX(-112px);
  }
}
