* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 20px verdana, arial, tahoma, sans-serif;
}

body,
html {
  background-image: url(../assets/LadingPage.jpg);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header,
footer {
  display: flex;
  flex-direction: column;
  background-color: #810ca8;
  height: 5vh;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 50px;
}

.selfPresentation,
.selfPresentationContent {
  display: flex;
  flex-direction: column;
  color: #810ca8;
  text-align: center;
}

.ladingPage {
  display: flex;
  flex-direction: column;
  margin: 2% 5% 2% 5%;
}

.photo {
  margin: 5% 25% 5% 25%;
  border-radius: 100%;
  border: 5px solid #460c68;
  width: 50%;
  height: 50%;
}

#desktop1,
#desktop2 {
  display: none;
}

/*CSS-desktop*/
@media screen and (min-width: 768px) {
  .ladingPage {
    flex-direction: row;
    align-items: center;
  }

  #mobile1,
  #mobile2 {
    display: none;
  }

  #desktop1,
  #desktop2 {
    display: flex;
  }

  .containerIconsDesktop {
    width: 195px;
    height: auto;
    position: absolute;
    top: 5%;
    right: -150px;
  }

  .containerIconsDesktop img {
    width: 28px;
    height: auto;
  }

  .containerIconsDesktop ul {
    list-style: none;
  }

  .containerIconsDesktop ul li {
    display: block;
    padding: 10px;
    height: 50px;
    position: relative;
    transition: all 0.5s ease;
  }

  .containerIconsDesktop ul li a {
    display: block;
    color: white;
    text-decoration: none;
  }

  .containerIconsDesktop ul li:nth-child(1) {
    background: #ff5c58;
  }

  .containerIconsDesktop ul li:nth-child(2) {
    background: black;
  }

  .containerIconsDesktop ul li:nth-child(3) {
    background: #0f6292;
  }

  .containerIconsDesktop ul li:nth-child(4) {
    background: #379956;
  }

  .openModal:hover {
    cursor: pointer;
  }

  .checkboxModal {
    display: none;
  }

  #modalOption:checked + .modal {
    display: flex;
  }

  .modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .modal .closeModal:hover {
    cursor: pointer;
    color: red;
  }

  .modal .contentModal {
    width: 75%;
    height: 50%;
    border: 1px solid blueviolet;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px white;
    overflow: auto;
    text-align: center;
  }

  .modal .contentModal {
    display: block;
  }
  .containerIconsDesktop ul li span {
    position: relative;
    top: 0;
    bottom: 0;
    display: block;
    right: 18px;
    padding: 70px;
  }

  .containerIconsDesktop ul li:hover {
    cursor: pointer;
    background: black;
    transform: translateX(-112px);
  }
}
